body{

}

img{
    max-width: 100% ;
 }

 

header{




}



.ul-list{
  display:flex;
  height:550px;
  list-style-type: none;
  margin-top: 0;
  padding-left: 0px;
}

.nav-list{
  
}

.li-list  {
    padding-right: 50px;
  width: 300px;
height: 300px;
}
.list_1{ 
    align-self: flex-end;
  
}


.list_2{
    align-self: center;   
}