*{
    box-sizing: border-box;   /*ЧТОБ  PADING НЕ ВЛИЯЛ НА ВНЕШНИЕ РАЗМЕРЫ ЭЛЕМЕНТА  */
  }

body{
background-image: url(/img/барная-стойка.jpg);
background-size: 190%;
}
a{
   text-decoration: none;
   color: black;
   font-size: 18px ;
}

h1{
    text-align: center;
}


h2{

}

h3{
    font-size: 25px;
padding-left: 30px;
    color: rgb(250, 250, 250);
}


.header-container{
    background-color: rgba(138, 89, 15, 0.623);
}



main{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  
}

.container{

    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(219, 215, 215, 0.5);
}



aside{
width: 210px;
margin-right: 25px;
}



.nav-list{
 
    width: 200px;
margin-top: 0px;
margin-bottom: 0px;
  padding-left: 0px;
    list-style-type: none;

    margin-bottom: 40px;

}



.nav-li{

    background-color: rgba(218, 219, 228, 0.644);

    margin-bottom: 10px;
   
    border: 1px solid;
    border-radius: 15px;
 
    width: 200px;
 
    list-style-type: none;
}


.nav-li a{
padding-left: 10px;
}

